/* Kleurenpalette:
  #1A446C - blue grey
  #689DC1 - light blue
  #D4E6F4 - very light blue
  #EEE4B9 - light tan
  #8D0D19 - burgundy
*/

html { 
    height: 100%;
    width: 100%; 
    
}

body { 
    height: 100%;
    width: 100%; 
    min-width: 400px;
    margin: 0; padding: 0; 
    border: 0; 
    background: #FFFFFF;
    font: 13px/15px Verdana,Arial,Helvetica,sans-serif; 
    background-color: white;
}

img { 
    border: none; 
}



table, tr, td, tr { 
    border-collapse: collapse; 
    vertical-align: top; 
    text-align: left;
    font: 13px/15px Verdana,Arial,Helvetica,sans-serif; 
}

a { 
    color: #8D0D19;
}

#header { 
    height: 40px; 
    text-align: left; 
    background: #1c1c1c; 
    color: #D4E6F4; 
    min-width: 600px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: #4f4f4f;
}

#header h1 {  
    padding-top: 0.2em;
    padding-left: 0.4em;
    font-size: 2em;
    margin: 0;
    height: 40px;
    color: #2f2f2f;
    font-weight: bold;
}

/* Note: IE 5 & 6 begrijpen geen min-height */
#main { 
    min-height: 400px; 
    width: 100%; 
    background: #F0F0F0      ;
    padding: 2em;
    
    padding-top: 1px;
}

#footer { 
    height: 40px; 
    padding-top: 0.9em; 
    text-align: center; 
    background: #323233 ; 
    color: darkgray; 
}

table.bordered tr th, table.bordered tr td { 
    border: 1px solid #000000; 
    padding: 10px;
}


.frame{
    height: auto;
    width: auto;
    max-width: 1200px;
    /*
    min-width: 600px;
    min-height: 400px;
    */
    /*border: 1px solid blue;*/
    margin: auto;
    
}

.frame_head{
    max-width: 1200px;
    margin: auto;
}

.centr{
    display: table;
    margin: 20 auto;
    text-align: center;
}

.bgimage {
    background-image: url('../images/Header_BG_Image.jpg');
    background-position: center center;
    background-size: cover;
    height: 200px;
    color: white;
    text-align: center;
}


.bgcover {
    background: rgba(20, 20, 20, 0.3);
    height: 100%;
    width: auto;
}

.jq_slider{
    height: 30px;
    background: #024a4d;
    text-align: center;
    padding-top: 0.5em;
    font: 13px/15px Verdana,Arial,Helvetica,sans-serif; 
    color: white;
    border-top-style: solid;
    border-top-width: 2px;
    border-top-color: #4f4f4f;
}


.section1 {
    min-height: 400px;
    background: #242329;
    text-align: center;
    color: white;
}

.section2 {
    min-height: 400px;
    background: #18171b;
    text-align: center;
    color: white;
}

.section3 {
    min-height: 300px;
    background: white;
    text-align: center;
    color: black;
}

.section1 h1, .section2 h1 {
    margin: 0px;
    padding-top: 20px;
    color: #f0f0f0;
    font-size: 2em;
    font-weight: bold;
}

.section1 p, .section2 p {
    margin: 0px;

    color: #E0E0E0;
}

.row p{
     margin-top: 40px;
    margin-bottom: 30px;
    color: #524c64;
    font-weight: bold;
}
